# Cleaning CSIC Dataset

In [2]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline 
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [3]:
df1=pd.read_csv("csic.csv")
df1.head(3)

,Unnamed: 0,Method,User-Agent,Pragma,Cache-Control,Accept,Accept-encoding,Accept-charset,language,host,cookie,content-type,connection,lenght,content,classification,URL
0,Normal,GET,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=1F767F17239C9B670A39E9B10C3825F4,NaN,close,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,GET,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=81761ACA043B0E6014CA42A4BCD06AB5,NaN,close,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
2,Normal,POST,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=933185092E0B668B90676E0A2B0767AF,application/x-www-form-urlencoded,Connection: close,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...

In [4]:
df1.shape

(61065, 17)

In [5]:
df1.classification.value_counts()

0    36000
1    25065
Name: classification, dtype: int64

In [6]:
df2=df1.copy()
df2.rename(columns={'Unnamed: 0': 'class'}, inplace=True)
df2.head(3)

,class,Method,User-Agent,Pragma,Cache-Control,Accept,Accept-encoding,Accept-charset,language,host,cookie,content-type,connection,lenght,content,classification,URL
0,Normal,GET,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=1F767F17239C9B670A39E9B10C3825F4,NaN,close,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,GET,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=81761ACA043B0E6014CA42A4BCD06AB5,NaN,close,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
2,Normal,POST,Mozilla/5.0 (compatible; Konqueror/3.5; Linux)...,no-cache,no-cache,"text/xml,application/xml,application/xhtml+xml...","x-gzip, x-deflate, gzip, deflate","utf-8, utf-8;q=0.5, *;q=0.5",en,localhost:8080,JSESSIONID=933185092E0B668B90676E0A2B0767AF,application/x-www-form-urlencoded,Connection: close,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...

In [7]:
df3=df2.drop(['User-Agent','Pragma','Cache-Control','Accept-encoding','Accept-charset','language','connection','cookie','content-type','Accept','host'],axis='columns') #dropped all cols with 1 val
df3

,class,Method,lenght,content,classification,URL
0,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
2,Normal,POST,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...
3,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/autentic...
4,Normal,POST,Content-Length: 63,modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...,0,http://localhost:8080/tienda1/publico/autentic...
...,...,...,...,...,...,...
61060,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61061,Anomalous,POST,Content-Length: 255,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....
61062,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61063,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/imagenes/3.gif/ ...
61064,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/imagenes/nuestra...

In [8]:
df3.rename(columns={'lenght': 'length'}, inplace=True)
df3.tail(10)

,class,Method,length,content,classification,URL
61055,Anomalous,PUT,Content-Length: 254,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....
61056,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61057,Anomalous,POST,Content-Length: 320,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....
61058,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61059,Anomalous,POST,Content-Length: 258,modo=registro&login=%2Bmel%2Fhem&password=quEr...,1,http://localhost:8080/tienda1/miembros/editar....
61060,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61061,Anomalous,POST,Content-Length: 255,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....
61062,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/miembros/editar....
61063,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/imagenes/3.gif/ ...
61064,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/imagenes/nuestra...

In [9]:
df3.isnull().sum()
empty_url = df3['URL'].str.strip().empty

if empty_url:
    print("The 'url' column contains empty strings.")
else:
    print("The 'url' column does not contain empty strings.")

The 'url' column does not contain empty strings.

We'll try a few things to understand our dataset and make it better exploitable

In [10]:
df3[(df3["Method"] == "GET") & (~df3["content"].isna())] # all GET requests here are with NO content

Empty DataFrame
Columns: [class, Method, length, content, classification, URL]
Index: []

In [11]:
df3[(df3["Method"] == "GET") ].classification.value_counts()

0    28000
1    15088
Name: classification, dtype: int64

In [12]:
df3[(df3["Method"] == "GET") ].URL.unique() #contain content

array(['http://localhost:8080/tienda1/index.jsp HTTP/1.1',
       'http://localhost:8080/tienda1/publico/anadir.jsp?id=3&nombre=Vino+Rioja&precio=100&cantidad=55&B1=A%F1adir+al+carrito HTTP/1.1',
       'http://localhost:8080/tienda1/publico/autenticar.jsp?modo=entrar&login=choong&pwd=d1se3ci%F3n&remember=off&B1=Entrar HTTP/1.1',
       ...,
       'http://localhost:8080/tienda1/miembros/editar.jsp?modo=registro&login=beaumont&password=quEratItiS&nombre=Odilia&apellidos=Stumptner&email=henried%40cbgerindote.asia&dni=66631393W&direccion=C%2F+Xoana+Nogueira%2C+25+5%3FC&ciudad=Barrios%2C+Los&cp=46135&provincia=%C1vilaany%253F%250D%250ASet-cookie%253A%2BTamper%253D1041264011025374727&ntc=2498947451884473&B1=Registrar HTTP/1.1',
       'http://localhost:8080/tienda1/miembros/editar.jsp?modo=registro&login=%2Bmel%2Fhem&password=quEratItiS&nombre=Odilia&apellidos=Stumptner&email=henried%40cbgerindote.asia&dni=66631393W&direccion=C%2F+Xoana+Nogueira%2C+25+5%3FC&ciudad=Barrios%2C+Los&cp=46135&provincia=%C1vila&ntc=2498947451884473&B1=Registrar HTTP/1.1',
       'http://localhost:8080/tienda1/miembros/editar.jsp?modo=registro&login=beaumont&password=quEratItiS&nombre=Odilia&apellidos=Stumptner&email=henried%40cbgerindote.asia&dniA=66631393W&direccion=C%2F+Xoana+Nogueira%2C+25+5%3FC&ciudad=Barrios%2C+Los&cp=46135&provincia=%C1vila&ntc=2498947451884473&B1=Registrar HTTP/1.1'],
      dtype=object)

In [13]:
df3[(df3["Method"] == "POST") & (df3["content"].isna())] #all post and put request are with content

Empty DataFrame
Columns: [class, Method, length, content, classification, URL]
Index: []

In [14]:
df3.loc[1, "URL"]

'http://localhost:8080/tienda1/publico/anadir.jsp?id=3&nombre=Vino+Rioja&precio=100&cantidad=55&B1=A%F1adir+al+carrito HTTP/1.1'

In [15]:
df3.loc[2, "URL"]

'http://localhost:8080/tienda1/publico/anadir.jsp HTTP/1.1'

In [16]:
df3.loc[2, "content"]

'id=3&nombre=Vino+Rioja&precio=100&cantidad=55&B1=A%F1adir+al+carrito'

In [17]:
df3[(df3["Method"] == "GET") & (df3["classification"] == 1)].head()

,class,Method,length,content,classification,URL
36000,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/publico/anadir.j...
36002,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/publico/anadir.j...
36004,Anomalous,GET,NaN,NaN,1,http://localhost:8080/asf-logo-wide.gif~ HTTP/1.1
36005,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/publico/autentic...
36007,Anomalous,GET,NaN,NaN,1,http://localhost:8080/tienda1/publico/autentic...

In [18]:
df3.loc[36000,"URL"]

'http://localhost:8080/tienda1/publico/anadir.jsp?id=2&nombre=Jam%F3n+Ib%E9rico&precio=85&cantidad=%27%3B+DROP+TABLE+usuarios%3B+SELECT+*+FROM+datos+WHERE+nombre+LIKE+%27%25&B1=A%F1adir+al+carrito HTTP/1.1'

In [19]:
df3.loc[36001,"content"]

'id=2&nombre=Jam%F3n+Ib%E9rico&precio=85&cantidad=%27%3B+DROP+TABLE+usuarios%3B+SELECT+*+FROM+datos+WHERE+nombre+LIKE+%27%25&B1=A%F1adir+al+carrito'

In [20]:
df3.loc[36001,"URL"] #obseravtion: the value of content for this row is extracted from the URL of the previous row we'll try 
                    # see if this can be generalized

'http://localhost:8080/tienda1/publico/anadir.jsp HTTP/1.1'

In [21]:
df3.loc[36001]

class                                                     Anomalous
Method                                                         POST
length                                          Content-Length: 146
content           id=2&nombre=Jam%F3n+Ib%E9rico&precio=85&cantid...
classification                                                    1
URL               http://localhost:8080/tienda1/publico/anadir.j...
Name: 36001, dtype: object

In [22]:
df3.loc[36000]

class                                                     Anomalous
Method                                                          GET
length                                                          NaN
content                                                         NaN
classification                                                    1
URL               http://localhost:8080/tienda1/publico/anadir.j...
Name: 36000, dtype: object

In [23]:
df4=df3.copy()
#df4['content'] = df4['content'].fillna('') #we replace nan with '' since an empty string is a substring of any string

In [24]:
def find_matched_content(df):
    matched_indexes= []
    for i in range(1, len(df)):
        content = str(df.iloc[i, df.columns.get_loc("content")])
        url = str(df.iloc[i-1, df.columns.get_loc("URL")])
        if content in url:
            matched_indexes.append(i)
    return matched_indexes

In [25]:
matched_indexes=find_matched_content(df4)
len(matched_indexes)

17580

In [26]:
df4.shape #our observation applies to the majority of rows in the df(except 397 rows): ALL POST requests and doesn't apply to put requests

(61065, 6)

In [27]:
matched_df = df4.loc[matched_indexes]

In [29]:
matched_df.Method.unique()

array(['POST'], dtype=object)

In [30]:
matched_df #17580 is the number of POST requests in the original dataframe

,class,Method,length,content,classification,URL
2,Normal,POST,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...
4,Normal,POST,Content-Length: 63,modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...,0,http://localhost:8080/tienda1/publico/autentic...
6,Normal,POST,Content-Length: 4,id=2,0,http://localhost:8080/tienda1/publico/caracter...
9,Normal,POST,Content-Length: 33,errorMsg=Credenciales+incorrectas,0,http://localhost:8080/tienda1/publico/entrar.j...
12,Normal,POST,Content-Length: 43,modo=insertar&precio=2672&B1=Pasar+por+caja,0,http://localhost:8080/tienda1/publico/pagar.js...
...,...,...,...,...,...,...
61047,Anomalous,POST,Content-Length: 22,B2=Vaciar+carrito%252B,1,http://localhost:8080/tienda1/publico/vaciar.j...
61049,Anomalous,POST,Content-Length: 18,B2A=Vaciar+carrito,1,http://localhost:8080/tienda1/publico/vaciar.j...
61057,Anomalous,POST,Content-Length: 320,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....
61059,Anomalous,POST,Content-Length: 258,modo=registro&login=%2Bmel%2Fhem&password=quEr...,1,http://localhost:8080/tienda1/miembros/editar....
61061,Anomalous,POST,Content-Length: 255,modo=registro&login=beaumont&password=quEratIt...,1,http://localhost:8080/tienda1/miembros/editar....

In [31]:
matched_df.URL.value_counts()

http://localhost:8080/tienda1/publico/anadir.jsp HTTP/1.1             2380
http://localhost:8080/tienda1/publico/registro.jsp HTTP/1.1           2364
http://localhost:8080/tienda1/miembros/editar.jsp HTTP/1.1            2362
http://localhost:8080/tienda1/publico/autenticar.jsp HTTP/1.1         2361
http://localhost:8080/tienda1/publico/pagar.jsp HTTP/1.1              2343
http://localhost:8080/tienda1/publico/caracteristicas.jsp HTTP/1.1    1954
http://localhost:8080/tienda1/publico/vaciar.jsp HTTP/1.1             1919
http://localhost:8080/tienda1/publico/entrar.jsp HTTP/1.1             1897
Name: URL, dtype: int64

In [29]:
url_classification_counts = matched_df.groupby(['URL', 'classification']).size()

# print the counts for each URL and classification value
for url in matched_df['URL'].unique():
    print(f"\nURL: {url}")
    if (url, 0) in url_classification_counts:
        print(f"Class 0 count: {url_classification_counts[(url, 0)]}")
    else:
        print("Class 0 count: 0")
    if (url, 1) in url_classification_counts:
        print(f"Class 1 count: {url_classification_counts[(url, 1)]}")
    else:
        print("Class 1 count: 0")
# if we drop the content column and work only with url that won't work cause for post requests it's classifying them based on content
#the same url could be normal or anomalous based on content.

URL: http://localhost:8080/tienda1/publico/anadir.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 1380

URL: http://localhost:8080/tienda1/publico/autenticar.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 1361

URL: http://localhost:8080/tienda1/publico/caracteristicas.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 954

URL: http://localhost:8080/tienda1/publico/entrar.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 897

URL: http://localhost:8080/tienda1/publico/pagar.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 1343

URL: http://localhost:8080/tienda1/publico/registro.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 1364

URL: http://localhost:8080/tienda1/publico/vaciar.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 919

URL: http://localhost:8080/tienda1/miembros/editar.jsp HTTP/1.1
Class 0 count: 1000
Class 1 count: 1362

In [33]:
matcheddf=matched_df.copy()
matcheddf.head()

,class,Method,length,content,classification,URL
2,Normal,POST,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...
4,Normal,POST,Content-Length: 63,modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...,0,http://localhost:8080/tienda1/publico/autentic...
6,Normal,POST,Content-Length: 4,id=2,0,http://localhost:8080/tienda1/publico/caracter...
9,Normal,POST,Content-Length: 33,errorMsg=Credenciales+incorrectas,0,http://localhost:8080/tienda1/publico/entrar.j...
12,Normal,POST,Content-Length: 43,modo=insertar&precio=2672&B1=Pasar+por+caja,0,http://localhost:8080/tienda1/publico/pagar.js...

In [34]:
for i in matcheddf.index :
    matchedurls= str(matcheddf.loc[i, "URL"])
    matchedurls = matchedurls.strip()
    matchedurls= matchedurls.split()[0]
    originalurls = str(df4.loc[i-1, "URL"])
    if matchedurls not in originalurls:
        print("there is a problem") 
#for our "matched" df the URL of the post requests is also a substring of the previous get request 
#this means that the url value of get requests is just parsed: the url path part is put in the url of the next post request
#and the query string is put in the content of the next post request

In [35]:
df4.loc[1,"URL"] #visualizing that for an example

'http://localhost:8080/tienda1/publico/anadir.jsp?id=3&nombre=Vino+Rioja&precio=100&cantidad=55&B1=A%F1adir+al+carrito HTTP/1.1'

In [36]:
matcheddf.loc[2,"URL"]

'http://localhost:8080/tienda1/publico/anadir.jsp HTTP/1.1'

In [37]:
matched_df.isnull().sum()

class             0
Method            0
length            0
content           0
classification    0
URL               0
dtype: int64

In [38]:
for i in matched_indexes:
    if matched_df.loc[i,"classification"] != df4.loc[i-1,"classification"]:
        print("there is a problem in classification") 
# all is good the matches have same class
for i in matched_indexes:
    if df4.loc[i-1,"Method"] != "GET":
        print("there is a problem in Method") 
# ALL POST REQUESTS ARE PRECEDED BY GET REQUESTS AND THE CONTENT IN POST IS EXTACTED FROM THE PRECEDING GET AND THEY BOTH HAVE THE SAME CLASS => REDUNDANCY

In [39]:
df4.loc[61046]

class                                                     Anomalous
Method                                                          GET
length                                                          NaN
content                                                         NaN
classification                                                    1
URL               http://localhost:8080/tienda1/publico/vaciar.j...
Name: 61046, dtype: object

In [40]:
df4.loc[61057,"URL"]

'http://localhost:8080/tienda1/miembros/editar.jsp HTTP/1.1'

#### since we have a redundancy and we're not gonna base our classification on the http method, we'll not consider redundant rows

In [41]:
filtered_df = df4[(df4['Method'] == 'GET') & (df4['classification'] == 0)]
filtered_df

,class,Method,length,content,classification,URL
0,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
3,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/autentic...
5,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/caracter...
7,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/carrito....
...,...,...,...,...,...,...
35995,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/imagenes/2.gif H...
35996,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/imagenes/3.gif H...
35997,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/imagenes/cmenbul...
35998,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/imagenes/logo.gi...
35999,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/imagenes/nuestra...

In [42]:
filtered_df.isnull().sum()

class                 0
Method                0
length            28000
content           28000
classification        0
URL                   0
dtype: int64

In [43]:
filtered_df.loc[3,"URL"]

'http://localhost:8080/tienda1/publico/autenticar.jsp?modo=entrar&login=choong&pwd=d1se3ci%F3n&remember=off&B1=Entrar HTTP/1.1'

In [44]:
df4.loc[3]

class                                                        Normal
Method                                                          GET
length                                                          NaN
content                                                         NaN
classification                                                    0
URL               http://localhost:8080/tienda1/publico/autentic...
Name: 3, dtype: object

In [45]:
def find_mismatched_content(df):
    mismatched_indexes= []
    for i in range(1, len(df)):
        content = str(df.iloc[i, df.columns.get_loc("content")])
        url = str(df.iloc[i-1, df.columns.get_loc("URL")])
        if content not in url:
            mismatched_indexes.append(i)
    return mismatched_indexes

In [46]:
mismatched_indexes = find_mismatched_content(df4)

In [47]:
len(mismatched_indexes)

43484

In [48]:
mismatched_df = df4.loc[mismatched_indexes]

In [49]:
mismatched_df.head()

,class,Method,length,content,classification,URL
1,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
3,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/autentic...
5,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/caracter...
7,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/carrito....
8,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/entrar.j...

In [50]:
mismatched_df.Method.unique() #only gets and puts

array(['GET', 'PUT'], dtype=object)

In [51]:
df4.Method.value_counts() #the observation doesn't apply for PUT requests

GET     43088
POST    17580
PUT       397
Name: Method, dtype: int64

In [52]:
df4.loc[61058]

class                                                     Anomalous
Method                                                          GET
length                                                          NaN
content                                                         NaN
classification                                                    1
URL               http://localhost:8080/tienda1/miembros/editar....
Name: 61058, dtype: object

In [53]:
df4.loc[61058,"URL"]

'http://localhost:8080/tienda1/miembros/editar.jsp?modo=registro&login=%2Bmel%2Fhem&password=quEratItiS&nombre=Odilia&apellidos=Stumptner&email=henried%40cbgerindote.asia&dni=66631393W&direccion=C%2F+Xoana+Nogueira%2C+25+5%3FC&ciudad=Barrios%2C+Los&cp=46135&provincia=%C1vila&ntc=2498947451884473&B1=Registrar HTTP/1.1'

In [54]:
df4.loc[61059, "content"]

'modo=registro&login=%2Bmel%2Fhem&password=quEratItiS&nombre=Odilia&apellidos=Stumptner&email=henried%40cbgerindote.asia&dni=66631393W&direccion=C%2F+Xoana+Nogueira%2C+25+5%3FC&ciudad=Barrios%2C+Los&cp=46135&provincia=%C1vila&ntc=2498947451884473&B1=Registrar'

In [55]:
df4.loc[36042,"URL"]

'http://localhost:8080/tienda1/miembros/imagenes/zarauz.jpg/asf-logo-wide.gif.old HTTP/1.1'

In [56]:
df4.loc[36024]

class                                                     Anomalous
Method                                                          PUT
length                                          Content-Length: 252
content           modo=registro&login=armand&password=prusiato&n...
classification                                                    1
URL               http://localhost:8080/tienda1/publico/registro...
Name: 36024, dtype: object

In [57]:
for i in range(1, len(df4)):
    if df4.iloc[i, df4.columns.get_loc('Method')] == 'PUT' and df4.iloc[i-1, df4.columns.get_loc('Method')] == 'POST': # we also try with get
        print(i)
        break
else:
    print(True)
# put can be preceded by either get or post: no general rule
# post is always preceded by get

36024

In [58]:
PUT_df = df4[df4['Method'] == 'PUT']

In [59]:
PUT_df.shape

(397, 6)

In [60]:
PUT_df.isnull().sum()

class             0
Method            0
length            0
content           0
classification    0
URL               0
dtype: int64

In [61]:
PUT_df.head()

,class,Method,length,content,classification,URL
36024,Anomalous,PUT,Content-Length: 252,modo=registro&login=armand&password=prusiato&n...,1,http://localhost:8080/tienda1/publico/registro...
36062,Anomalous,PUT,Content-Length: 63,modo=entrar&login=modestin&pwd=c69p04e13&remem...,1,http://localhost:8080/tienda1/publico/autentic...
36070,Anomalous,PUT,Content-Length: 4,id=1,1,http://localhost:8080/tienda1/publico/caracter...
36187,Anomalous,PUT,Content-Length: 237,modo=registro&login=oberon&password=atab2rdi8l...,1,http://localhost:8080/tienda1/publico/registro...
36219,Anomalous,PUT,Content-Length: 33,errorMsg=Credenciales+incorrectas,1,http://localhost:8080/tienda1/publico/entrar.j...

In [62]:
GET_df = df4[df4['Method'] == 'GET']

In [63]:
def check_content_in_get_urls(PUT_df, GET_df, i):
    content = PUT_df.loc[i, 'content']
    get_urls = GET_df['URL'].tolist()
    
    for url in get_urls:
        if content in url:
            return True
    
    return False

In [65]:
def find_matching_PUT_indexes() :
    PUT_matches=[]
    for i in PUT_df.index:
        if check_content_in_get_urls (PUT_df, GET_df , i ) == True :
            PUT_matches.append(i)
    return PUT_matches

In [66]:
PUT_matched_indexes=find_matching_PUT_indexes() #now let's verify if these requests are extracted from get requests the same way as posts

In [67]:
len(PUT_matched_indexes)

191

In [68]:
def find_mismatching_PUT_indexes ():
    PUT_mismatches=[]
    for i in PUT_df.index:
        if check_content_in_get_urls (PUT_df, GET_df , i ) == False :
            PUT_mismatches.append(i)
    return PUT_mismatches

In [72]:
len(find_mismatching_PUT_indexes()) #nothing general

206

In [73]:
df4.loc[36070]

class                                                     Anomalous
Method                                                          PUT
length                                            Content-Length: 4
content                                                        id=1
classification                                                    1
URL               http://localhost:8080/tienda1/publico/caracter...
Name: 36070, dtype: object

In [74]:
df4.loc[36070, "URL"]

'http://localhost:8080/tienda1/publico/caracteristicas.jsp HTTP/1.1'

In [75]:
df4.loc[36069, "URL"]

'http://localhost:8080/tienda1/4861362529278789730 HTTP/1.1'

In [76]:
PUT_df.content.value_counts().head()

B2=Vaciar+carrito                                                                                                                                                                                                                                               46
errorMsg=Credenciales+incorrectas                                                                                                                                                                                                                               41
id=1                                                                                                                                                                                                                                                            30
id=2                                                                                                                                                                                                                                                            19
modo=registro&login=armand&password=prusiato&nombre=Samia&apellidos=Catalayud+Mirabet&email=balademas.mareuil6%40enlanzarote.com.vc&dni=28178710F&direccion=C%2F+Cala%2C+9%2C+&ciudad=Mutxamel&cp=25332&provincia=Zaragoza&ntc=8608089924764976&B1=Registrar     1
Name: content, dtype: int64

In [77]:
POST_df= df4[df4['Method'] == 'POST']

In [78]:
POST_df.content.value_counts().head()

errorMsg=Credenciales+incorrectas    1000
B2=Vaciar+carrito                    1000
id=2                                  522
id=1                                  478
B2A=Vaciar+carrito                    451
Name: content, dtype: int64

In [79]:
df5=df4.copy()

In [80]:
df5.head()

,class,Method,length,content,classification,URL
0,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
2,Normal,POST,Content-Length: 68,id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...,0,http://localhost:8080/tienda1/publico/anadir.j...
3,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/autentic...
4,Normal,POST,Content-Length: 63,modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...,0,http://localhost:8080/tienda1/publico/autentic...

In [73]:
def preprocess_data(df):
    for i, row in df.iterrows():
        if row['Method'] == 'POST':
            df.loc[i-1, 'Method'] = 'POST'
            df.loc[i-1, 'length'] = df.loc[i,'length']
            df.drop(i, inplace=True)
            i -= 1 # decrement index to account for dropped row

In [74]:
preprocess_data(df5)

In [107]:
df5.head()

,class,Method,length,content,classification,URL
0,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/index.jsp HTTP/1.1
1,Normal,POST,Content-Length: 68,NaN,0,http://localhost:8080/tienda1/publico/anadir.j...
2,Normal,POST,Content-Length: 63,NaN,0,http://localhost:8080/tienda1/publico/autentic...
3,Normal,POST,Content-Length: 4,NaN,0,http://localhost:8080/tienda1/publico/caracter...
4,Normal,GET,NaN,NaN,0,http://localhost:8080/tienda1/publico/carrito....

In [84]:
df5.to_csv('modified_csic.csv', index=False)

In [85]:
df5.shape

(43485, 6)

In [86]:
df5.isnull().sum()

class                 0
Method                0
length            25508
content           43088
classification        0
URL                   0
dtype: int64

In [87]:
PUT_dfmod = df5[df5['Method'] == 'PUT']

In [88]:
if PUT_df.equals(PUT_dfmod):
    print("The dataframes are equal.")
else:
    print("The dataframes are not equal.") #yess as expected

The dataframes are equal.

In [89]:
df5['URL'].dtype

dtype('O')

In [90]:
df5.dtypes

class             object
Method            object
length            object
content           object
classification     int64
URL               object
dtype: object

In [32]:
df5=pd.read_csv("modified_csic.csv")
df6 = df5.copy()

In [33]:
df5.loc[28443]

class                                   Anomalous
Method                                        GET
length                                        NaN
content                                       NaN
classification                                  1
URL               http://localhost:8080/ HTTP/1.1
Name: 28443, dtype: object

In [5]:
df6['URL'] = df6['URL'].str.split().str[0] #remove last part of url : http1.1

In [6]:
df6['URL'] = df6['URL'].str.replace('http://localhost:8080/', '').str.replace('tienda1/', '')
#removing the host part with /tienda1 cause it's repeated across all rows

In [7]:
df6.head()

,class,Method,length,content,classification,URL
0,Normal,GET,NaN,NaN,0,index.jsp
1,Normal,POST,Content-Length: 68,NaN,0,publico/anadir.jsp?id=3&nombre=Vino+Rioja&prec...
2,Normal,POST,Content-Length: 63,NaN,0,publico/autenticar.jsp?modo=entrar&login=choon...
3,Normal,POST,Content-Length: 4,NaN,0,publico/caracteristicas.jsp?id=2
4,Normal,GET,NaN,NaN,0,publico/carrito.jsp

In [ ]:
contains_question_mark= PUT_dfmod['URL'].str.contains('\?').any()
print(contains_question_mark) #nice so we'll append the content of PUT as a query string to the url (merging) and then we can drop content

In [9]:
df7=df6.copy()

In [10]:
# concatenate url with a question mark and the value of the content column, only for rows where method is PUT
df7.loc[df7['Method'] == 'PUT', 'URL'] = df7.loc[df7['Method'] == 'PUT', 'URL'] + '?' + df7.loc[df7['Method'] == 'PUT', 'content']

In [11]:
df7.head()

,class,Method,length,content,classification,URL
0,Normal,GET,NaN,NaN,0,index.jsp
1,Normal,POST,Content-Length: 68,NaN,0,publico/anadir.jsp?id=3&nombre=Vino+Rioja&prec...
2,Normal,POST,Content-Length: 63,NaN,0,publico/autenticar.jsp?modo=entrar&login=choon...
3,Normal,POST,Content-Length: 4,NaN,0,publico/caracteristicas.jsp?id=2
4,Normal,GET,NaN,NaN,0,publico/carrito.jsp

In [12]:
df7 = df7.drop('content', axis=1)

In [13]:
df7 = df7.drop('class', axis=1)

In [14]:
df7.rename(columns={'length': 'payload_length'}, inplace=True)

In [15]:
df7['payload_length'].fillna(0, inplace=True)

In [16]:
non_zero_mask = df7['payload_length'] != 0
df7.loc[non_zero_mask, 'payload_length'] = df7.loc[non_zero_mask, 'payload_length'].astype(str).str.split(':').str[1].astype(int)

In [17]:
df7['payload_length'] = df7['payload_length'].astype(int)

In [18]:
df7['payload_length'].dtype

dtype('int32')

In [19]:
df7.head()

,Method,payload_length,classification,URL
0,GET,0,0,index.jsp
1,POST,68,0,publico/anadir.jsp?id=3&nombre=Vino+Rioja&prec...
2,POST,63,0,publico/autenticar.jsp?modo=entrar&login=choon...
3,POST,4,0,publico/caracteristicas.jsp?id=2
4,GET,0,0,publico/carrito.jsp

In [20]:
df7.isnull().sum()

Method            0
payload_length    0
classification    0
URL               0
dtype: int64

In [164]:
df7.to_csv('modified_csic_stage2.csv', index=False)

In [21]:
df7.loc[28443]

Method            GET
payload_length      0
classification      1
URL
Name: 28443, dtype: object